@import './Checkbox.css';

.content {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
}

.underNav {
  height: 3vw;
}

.table {
  padding: 1vw;
}

body,
html {
  background: linear-gradient(90deg, #89f7fe 0%, #66a6ff 100%);
  height: 100%;
}
