.loading {
  background: #ffffff;
  height: 100vh;
  font-family: 'Arvo', serif;
}

.circle {
  background-image: url(../../image/giphy1.gif);
  margin: auto;
  height: 500px;
  width: 600px;
  background-position: center;
}
