@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

.nav {
    height: 3vw;
    background-color: whitesmoke;
    box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
    font-family: 'Amatic SC', cursive;
}

.image_block {
    text-align: left;
    height: 3vw;
    width: 3vw;
}

.logo_image {
    margin: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right {
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    height: 3vw !important;
    display: block;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: 600;
    color: black;
    cursor: pointer;
}

li a:hover {
    border-bottom: 2px solid #8167a9;
    color: #8167a9;
}

.row {
    height: 3vw;
}

a {
    padding-top: 0.5vw !important;
    text-decoration: none !important;
}
