@media (min-width: 992px) {
  .process > .modal-lg {
    max-width: 1200px;
  }
}

/* @media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
} */

.process-form {
  text-align: left;
}
